.header {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .left-button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .right-button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  